@using Web_oglasnik.Models
@model List<Oglas>
@{
    ViewBag.Title = "Oglasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oglasi</h2>

<a href="@Url.Action("Azuriraj", "Oglas")" class="btn btn-success">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Predaj oglas
</a>
<br />
<br />

@using (Html.BeginForm("Popis", "Oglas", FormMethod.Get, new { @class = "form-inline" }))
{
    @Html.TextBox("naziv", "", new { @class = "form-control", placeholder = "Naziv oglasa" })
    <div class="form-control">
        <label class="radio-inline">
            @Html.RadioButton("stanje", "N") Novo
        </label>
        <label class="radio-inline">
            @Html.RadioButton("stanje", "R") Rabljeno
        </label>
        <label class="radio-inline">
            @Html.RadioButton("stanje", "") Sve
        </label>
    </div>

    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        Traži
    </button>
}
@if (Model.Count() <= 0)
{
    <p>Nema rezultata pretrage!</p>
}
else
{
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Naslov</th>

        </tr>
        @foreach (Oglas oglas in Model)
        {
            <tr>
                <td>@oglas.ID</td>
                <td>@oglas.Naslov</td>
                <td>@Html.ActionLink("Info", "Detalji", new { id = oglas.ID }, new { @class = "btn btn-info btn-sm" })</td>
                <td>@Html.ActionLink("Ažuriraj", "Azuriraj", new { id = oglas.ID }, new { @class = "btn btn-warning btn-sm" })</td>
                <td>@Html.ActionLink("Izbriši", "Brisi", new { id = oglas.ID }, new { @class = "btn btn-danger btn-sm" })</td>
            </tr>
        }
    </table>
}

